@media (max-width:850px) {
    .cl-1>* {
        width: auto;
    }

    .cl-1 {
        flex-direction: column-reverse;
        /* align-items: center; */
    }


    .cl-1 img,
    .cl-1 figure {
        width: 300px;
    }

    header {
        min-height: 80vh;
    }

    ul.navbar {
        width: 100%;
        position: absolute;
        background: white;
        z-index: 1000;
        flex-direction: column;
        top: 100%;
        max-height: 0;
        overflow: hidden;
        left: 0;
        transition: 0.4s ease-in-out;
        box-shadow: 8.1px 3px 5px -3px grey;
    }

    ul.navbar.active {
        max-height: 100vh;
        padding: 5px 0;
    }

    .menu {
        display: block;
    }

    .main figure {
        padding: 0;
        margin: auto;
    }

    .main figure img {
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    .main figure::before,
    .main figure::after {
        width: 98%;
        border-left: 2.3px solid;
        left: 50%;
        translate: -50% 0;
    }

    .about-main p {
        max-width: 100%;
    }

    .cl-1>.about-main{
        width: 100%;
    }

    .main figure::before {
        top: -8px;
    }

    .main figure::after {
        bottom: -8px;
    }
}